body { font-family: Helvetica }
h1 { color: #333 }
.place { font-size: 14pt; padding: 5px }
.place A { text-decoration: none; color: #333 }
#summary { font-size: 16pt; color: #999; padding: 5px }

#friends { font-size: 12pt; color: #333 }
.friend { font-size: 12pt; }
.friend A { text-decoration: none; color: #333 }

.count { font-size: 10pt; color: #555; }

#header { font-size: 74pt; color: #444; padding-bottom: 10px; border-bottom: 1px #aaa solid; height: 120px }
#footer { font-size: 66%; position: fixed; bottom: 10px; left: 10px; background-color: white; padding: 5px }
